<div class="banner">
<div class="container">
    
    <div class="header_bottom">
        <div class="logo interne">
            <h1><a href="{{ path('index') }}"><span class="m_1">B</span>oudet Lutherie</a></h1>
        </div>
        <div class="menu">
            <ul class="megamenu skyblue">
                <li class="princ"><a class="active grid" href="{{ path('vielles') }}">Vielles</a>
                    <div class="megapanel">
                        <div class="h_nav">
                            <ul>
                                {% for subcategory in vielles %}
                                    <li><a href="{{ path('viellecat', {'id': subcategory.id}) }}">{{ subcategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="princ"><a class="color4" href="{{ path('decors') }}">Décors</a>
                    <div class="megapanel">
                        <div class="h_nav">
                            <ul>
                                {% for subcategory in decors %}
                                    <li><a href="{{ path('decorcat', {'id': subcategory.id}) }}">{{ subcategory.name
                                            }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                </li>
                <li class="princ"><a class="color10" href="{{ path('restauration') }}">Restauration</a></li>
                <li class="color10 princ"><a class="color3" href="{{ path('luthiers') }}">Les luthiers</a></li>
                <li class="princ"><a class="color7" href="{{ path('contact') }}">Contact</a></li>
            </ul>
        
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
</div>
