<div class="men_banner">
<div class="container">
    <div class="header_top_right">
        <div class="logo">
            <h1><a href="{{ path('index') }}"><span class="m_1">B</span>OUDET LUTHERIE</a></h1>
        </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="princ"><a class="active grid" href="{{ path('vielles') }}">Vielles</a>
                        <div class="megapanel">
                            <div class="h_nav">
                                <ul>
                                    {% for subcategory in subcategories %}
                                    <li><a href="{{ path('subcat', {'id': subcategory.id}) }}">{{ subcategory.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="princ"><a class="color4" href="{{ path('decors') }}">Décors</a>
                        <div class="megapanel">
                            <div class="h_nav">
                                <ul>
                                    <li><a href="#">Têtes</a></li>
                                    <li><a href="#">Marqueterie</a></li>
                                    <li><a href="#">Tables</a></li>
                                </ul>
                            </div>
                        </div>
                    
                    </li>
                    <li class="princ"><a class="color10" href="{{ path('restauration') }}">Restauration</a></li>
                    <li class="color10 princ"><a class="color3" href="{{ path('luthiers') }}">Les luthiers</a></li>
                    <li class="princ"><a class="color7" href="{{ path('contact') }}">Contact</a></li>
                </ul>
            
            </div>
        
    
    </div>
</div>
</div>
