{% extends "base.html.twig" %}
{% block menu %} {{ render(controller('VielleCatalogBundle:Menu:menu', {})) }}{% endblock %}
{% block body %}
<div class="men">
    <div class="container">
    <div class="contact_form">
        <h2>Ajouter une vielle</h2>
        {{ form_start(form) }}
        <div class="col-md-6 to">
                {{ form_widget(form.subcategory, {'attr':{'placeholder': 'Sous-catégorie'}}) }}
                {{ form_widget(form.feature, {'attr':{'placeholder': 'Nombre de chanterelles'} }) }}
                {{ form_widget(form.name, {'attr':{'placeholder': 'Nom'} }) }}
            {{ form_widget(form.photo, {'attr':{'placeholder': 'Télécharger la photo'}}) }}
            {{ form_widget(form.metatag, {'attr':{'placeholder': 'Mots-clés'}}) }}
            </div>
            <div class="col-md-6 text">
                {{ form_widget(form.description, {'attr':{'placeholder': 'Description'} }) }}
                
            </div>
        <div class="col-md-6 to">
        
            
        </div>
        
                <div class="but__center">
                {{ form_widget(form.ajouter) }}
                    {{ form_rest(form) }}

                </div>
    </div>
        <div class="clearfix"></div>
        
</div>

{% endblock %}
