{% extends "base.html.twig" %}
{% block menu %}
    {{ render(controller('VielleCatalogBundle:Menu:menu', {})) }}
{% endblock %}
{% block body %}
<div class="men">
    <div class="container">
        <div class="col-md-12 single_top">
            <div class="single_left">
                <div class="labout span_1_of_a1">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="{{ asset('assets/images/products/' ~ vielle.photo) }}">
                                <img src="{{ asset('assets/images/products/' ~ vielle.photo) }}" />
                            </li>
                            <li data-thumb="images/s2.jpg">
                                <img src="images/s2.jpg" />
                            </li>
                            <li data-thumb="images/s3.jpg">
                                <img src="images/s3.jpg" />
                            </li>
                            <li data-thumb="images/s4.jpg">
                                <img src="images/s4.jpg" />
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
                    <h1>{{ vielle.name }}</h1>
                    <!--p class="availability">Availability: <span class="color">In stock</span></p-->
                    
                    <p class="quick_desc"> {{ vielle.description }}</p>
                    <div class="wish-list">
                        <p class="quick_desc"> {{ vielle.metatag }}</p>

                    </div>
                    
                    <div class="quantity_box">
                        <ul class="single_social">
                            <li><a href="#"><i class="fb1"> </i> </a></li>
                            <li><a href="#"><i class="tw1"> </i> </a></li>
                            <li><a href="#"><i class="g1"> </i> </a></li>
                            <li><a href="#"><i class="linked"> </i> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
    </div>
        </div>
    </div>
        <div class="clearfix"> </div>
    </div>
</div>
    <!-- FlexSlider -->
    <script defer src="{{ asset('assets/js/jquery.flexslider.js') }}" type="text/javascript"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
{% endblock %}
